div.st-emotion-cache-12w0qpk.e1f1d6gn3{
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    text-align: center;

    border-radius: 15px;
    color: #fd8585;
    overflow-wrap: break-word;
    box-shadow: 15px 15px 30px #bebebe,
    -9px -9px 20px #ffffff;
    align-items: center;
    justify-content: center;
}
div.st-emotion-cache-17c4ue.e1i5pmia2{
    text-align: center;
}
.st-emotion-cache-l9bjmx p {
    text-align: center;
    color: rgb(118, 118, 118);
    stroke: black;
    stroke-width: 3%;
    font-weight: bold;
    font-size: medium;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.st-emotion-cache-17c4ue {grid-template-columns: auto 0fr;}



.st-emotion-cache-a51556.e1q9reml1{
    font-weight: 600;
    color: #fd8585;
}